spring:
  datasource:
    url: jdbc:mysql://localhost:3306/secure_notes
    username: root
    password: Aadit@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
